# Connect to Postgres via the shared transaction-mode pooler (IPv4-only)
DATABASE_URL="postgresql://postgres.zvhasyotqcadztgfyltg:[YOUR_PASSWORD]@aws-1-us-west-2.pooler.supabase.com:6543/postgres?pgbouncer=true"

# Connect to Postgres via the shared session-mode pooler (used for migrations)
DIRECT_URL="postgresql://postgres.zvhasyotqcadztgfyltg:[YOUR_PASSWORD]@aws-1-us-west-2.pooler.supabase.com:5432/postgres"

# Auth Secret
BETTER_AUTH_SECRET=YOUR_AUTH_SECRET

RESEND_API_KEY=YOUR_RESEND_API_KEY
EMAIL_FROM=YOUR_EMAIL
